<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.footprint.androidaircraftcarrier" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/shell"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Open Source -->
        <activity
            android:name=".fresco.FrescoActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="fresco"
                    android:scheme="source" />
            </intent-filter>
        </activity>
        <activity
            android:name=".eventbus.EBActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="eventbus"
                    android:scheme="source" />
            </intent-filter>
        </activity>

        <!-- Lab -->
        <activity
            android:name=".lab.LabActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="main"
                    android:scheme="lab" />
            </intent-filter>
        </activity>
        <activity
            android:name=".lab.ListViewHeader"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="listhead"
                    android:scheme="lab" />
            </intent-filter>
        </activity>
        <activity
            android:name=".lab.LifeCycle">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="lifecycle"
                    android:scheme="lab" />
            </intent-filter>
        </activity>
        <activity
            android:name=".lab.MemoryLeakActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="memoryleak"
                    android:scheme="lab" />
            </intent-filter>
        </activity>
        <activity
            android:name=".lab.JsonActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="json"
                    android:scheme="lab" />
            </intent-filter>
        </activity>
        <activity
            android:name=".lab.FragmentLCActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="flc"
                    android:scheme="lab" />
            </intent-filter>
        </activity>
        <activity
            android:name=".lab.HandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="handler"
                    android:scheme="lab" />
            </intent-filter>
        </activity>
        <activity
            android:name=".lab.StrictModeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="strictmode"
                    android:scheme="lab" />
            </intent-filter>
        </activity>
        <!-- Anim -->
        <activity
            android:name=".animation.ScreenSlidePagerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="viewpager"
                    android:scheme="anim" />
            </intent-filter>
        </activity>
        <activity
            android:name=".animation.LayoutAnimationActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="layout"
                    android:scheme="anim" />
            </intent-filter>
        </activity>

        <!-- Service -->
        <activity
            android:name=".service.ServiceActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="main"
                    android:scheme="service" />
            </intent-filter>
        </activity>
        <activity
            android:name=".service.ServiceNextActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="mainnext"
                    android:scheme="service" />
            </intent-filter>
        </activity>


        <!-- Flappy -->
        <activity
            android:name=".flappybirds.FlappyBirdActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="flappybirds"
                    android:scheme="game" />
            </intent-filter>
        </activity>

        <!-- DataBinding -->
        <activity
            android:name=".databinding.DataBindingActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="databinding"
                    android:scheme="test" />
            </intent-filter>
        </activity>

        <!-- Service -->
        <!--
             android:enabled 这个属性用于指示该服务是否能够被实例化。如果设置为true，则能够被实例化，否则不能被实例化。默认值是true。
             【实验】设置为false之后就不能绑定成功
        -->
        <service
            android:name=".service.LocalService"
            android:enabled="true" />
        <service
            android:name=".service.MessengerService"
            android:enabled="true" />
        <service
            android:name=".service.RemoteAIDLService"
            android:enabled="true"
            android:process=":remoterpc" />

        <!-- UI -->
        <activity
            android:name=".ui.UIActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="ui"
                    android:scheme="study" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.RVActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="rv"
                    android:scheme="study" />
            </intent-filter>
        </activity>
    </application>

</manifest>
